body {
    background-color:  rgb(17, 190, 17); 
    font-family: 'Arial', sans-serif; 
    margin: 0; 
    padding: 0; 
}

header {
    text-align: center; 
    padding: 20px; 
}

header img {
    width: 150px; 
    height: auto; 
}
.logo {
    width: 150px;
    height: auto;
}

nav {
    background-color: #4CAF50; 
    color: white; 
    text-align: center; 
    padding: 10px; 
}
section {
    padding: 20px; 
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    font-size: 24px;
    color: #ffffff;
    background-color: #008000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

nav a:hover {
    background-color: #004d00;
}

/* form */
#login-section {
    background-color: #ffffff;
    padding: 20px;
    width: 300px; 
    margin: 20px auto; 
    border-radius: 10px; 
}

#login-section input[type="email"],
#login-section input[type="password"] {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

#login-section button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4CAF50; 
    color: white;
    border-radius: 5px; 
    cursor: pointer; 
}


footer {
    background-color: #043d06; 
    color: white;
    padding: 10px;
    text-align: center; 
    font-size: 1rem;
}